{{template "header" .}} {{/* header.html 它是页面嵌入模板,最后的那个点表示将当前模板中的变量传递到header.html模板中 */}}

<div id="argDiv" style="display: none;" username="{{.username}}"></div>

<div class="container">

    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text
            and a mostly barebones HTML document.</p>
    </div>
    <div>
        <a href="/share"> 上传文档</a>
        <a href="/static/files/算法图解.pdf">pdf文档</a>
    </div>
    <div>
        <embed src="/static/files/算法图解.pdf" type="application/pdf" width="50%" height="600" />
    </div>
    <!-- 
        <iframe src="/static/files/算法图解.pdf" width="70%" height="80%">

            This browser does not support PDFs. Please download the PDF to view it: <a
                href="/static/files/算法图解.pdf">Download
                PDF</a>

        </iframe>

        <object classid="clsid:CA8A9780-280D-11CF-A24D-444553540000" width="700" height="1200" border="0">
            <param name="_Version" value="65539">
            <param name="_ExtentX" value="20108">
            <param name="_ExtentY" value="10866">
            <param name="_StockProps" value="0">
            <param name="SRC" value="pdf/test.pdf">
            <object data="/static/files/算法图解.pdf" type="application/pdf" width="1000" height="1200">
            </object>
        </object>
        -->


</div>

{{template "footer"}} {{/* footer.html 它是页面嵌入模板,双花括号内容后面没有那个点表示footer.html模板中没有变量 */}}