{{template "header" .}} {{/* header.html 它是页面嵌入模板,最后的那个点表示将当前模板中的变量传递到header.html模板中 */}}

<h3>
    {{ .title }}
</h3>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    function submit() {
        var form = document.getElementById('loginForm');
        form.action = "/login?surl=" + GetQueryString("surl")
        //进行下一步
        return true;
    }
</script>
<form id="loginForm" action="" method="post" omsubmit='return submit()'>
    用户名： <input type="text" name="user">
    <br>
    密码： <input type="password" name="passwd">
    <br>
    <input type="submit" value="登 录">
</form>
<div>
    <span>

    </span>
</div>

{{template "footer"}} {{/* footer.html 它是页面嵌入模板,双花括号内容后面没有那个点表示footer.html模板中没有变量 */}}