{{template "header" .}} {{/* header.html 它是页面嵌入模板,最后的那个点表示将当前模板中的变量传递到header.html模板中 */}}


    <div id="container">
            <header>
                        <div class="t-header">  
                                <div class="t-logo">  
                                        <a href="#">  
                                                <img src="static/images/logo.png" alt="天猫Tmall.com" width="190px"
                        height="27px" />  
                                            </a>  
                                    </div>   
                            </div>  
                </header>
            <section class="main">

                </section>
       </div> 
{{template "footer"}} {{/* footer.html 它是页面嵌入模板,双花括号内容后面没有那个点表示footer.html模板中没有变量 */}}