/* Border styles */
#table-1 thead, #table-1 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(230, 189, 189);
}
#table-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 189, 189);
}

/* Padding and font style */
#table-1 td, #table-1 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(177, 106, 104);
}

/* Alternating background colors */
#table-1 tr:nth-child(even) {
    background: rgb(238, 211, 210);
}
#table-1 tr:nth-child(odd) {
    background: #FFF
}

/* Border styles */
#table-2 thead, #table-2 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}
#table-2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}

/* Padding and font style */
#table-2 td, #table-2 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}

/* Alternating background colors */
#table-2 tr:nth-child(even) {
    background: rgb(223, 216, 232)
}
#table-2 tr:nth-child(odd) {
    background: #FFF
}

/* Table Head */
#table-3 thead th {
    background-color: rgb(156, 186, 95);
    color: #fff;
    border-bottom-width: 0;
}

/* Column Style */
#table-3 td {
    color: #000;
}

/* Heading and Column Style */
#table-3 tr,
#table-3 th {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(156, 186, 95);
}

/* Padding and font style */
#table-3 td,
#table-3 th {
    padding: 5px 10px;
    font-size: 13px;
    font-family: Verdana;
    font-weight: bold;
}